.root {
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
